@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Fuzzy+Bubbles&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-rt-slate;
	}

	main.full-h-layout {
		min-height: calc(100vh - 8rem);
	}
}

@layer components {
	.card {
		@apply flex rounded bg-rt-white shadow-xl;

		&-small {
			@apply text-center md:w-128;
		}

		&-big {
			@apply mx-auto w-full max-w-7xl p-4 sm:p-6 lg:p-8;
		}
	}
}

@layer utilities {
	.main-container {
		@apply flex flex-col items-center justify-center gap-y-5 py-5;
	}

	.input-container {
		@apply grid grid-cols-1 gap-x-4 sm:grid-cols-3;

		.label-container {
			@apply flex items-center sm:justify-end;
		}

		&-wide {
			@apply sm:grid-cols-1 md:grid-cols-wide;
			.label-container {
				@apply flex items-center sm:justify-start md:justify-end;
			}
		}
	}

	.rt-input {
		@apply col-span-2 w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-rt-gray focus:ring-2 focus:ring-inset focus:ring-rt-blue;
	}

	.quill {
		@apply min-h-[300px] p-1;
		.ql-toolbar {
			&.ql-snow {
				border-width: 0;
				border-bottom-width: 1px;
			}
		}

		.ql-container {
			@apply h-auto;
			&.ql-snow {
				width: 100%;
				height: calc(100% - 42px);
				border-width: 0;
				border-top-width: 1px;
			}
		}
	}

	.html-parsed {
		h1 {
			font-size: x-large;
		}
		h2 {
			font-size: larger;
		}
		h3 {
			font-size: large;
		}
	}

	th[data-table-library_th] {
		@apply text-rt-black;
	}

	tr.tr.tr-body:has(td[data-row-selected='true']) {
		@apply bg-rt-light-gray;
	}
}
